

@layer components {
  .shine-text {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .shine-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg, rgba(107, 99, 99, 0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);
    animation: shine 2.5s linear infinite;
  }
  
  @keyframes shine {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
}
